.center {
    text-align:center;
}

#table td {
    white-space:nowrap;
    vertical-align:middle;
    min-width:100px;
}

#table input:disabled {
    background:#f2f2f2;
    color:black;
}

#table input[type="checkbox"] {
    width:auto;
    margin:0;
}

#update_success, #update_error, #update_no_changes {
    display:none;
}
