<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KeepTrack</title>
</head>
<body>
<h1 style="text-align: center">Society Hire Enquiries</h1>

<div style="display: flex; justify-content: center; align-items: center; padding-top: 2em">
    <div style="display: table-cell; vertical-align: center">
        <div>
            <h4 style="text-align: left">Name <span style="color: red">*</span></h4>
            <form style="text-align: left">
                <label id="name">
                    <input type="text" size="50">
                </label>
            </form>
        </div>
        <div style="padding-top: 1em">
            <h4 style="text-align: left">Email <span style="color: red">*</span></h4>
            <form style="text-align: left">
                <label id="email">
                    <input type="text" size="50">
                </label>
            </form>
        </div>
        <div style="padding-top: 1em">
            <h4 style="text-align: left">CID (if Imperial student)</h4>
            <form style="text-align: left">
                <label id="cid">
                    <input type="text" size="50">
                </label>
            </form>
        </div>
        <div style="padding-top: 1em">
            <div style="text-align: left; float: left">
                <h4>Hire From</h4>
                <form>
                    <label id="hire_from">
                        <input type="date" size="25">
                    </label>
                </form>
            </div>
            <div style="text-align: left; float: left; padding-left: 1em">
                <h4>Hire From</h4>
                <form>
                    <label id="hire_to">
                        <input type="date" size="25">
                    </label>
                </form>
            </div>
        </div>
        <div style="padding-top: 6em">
            <p>If you'd like to request specific equipment or service, have a look at <a>what we offer</a> and let us
                know in the box below.<br/>It's fine if you're not sure what you need. Let us know what you're up to
                and we'll help you decide.</p>
            <form>
                <label id="info">
                    <input type="text" size="50" style="height: 10em">
                </label>
            </form>
        </div>
        <div style="padding-top: 2em">
            <button type="button" id="submit">SUBMIT</button>
        </div>
    </div>
</div>
</body>
</html>