<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KeepTrack</title>
</head>
<body>
<h1 style="text-align: center">Society Hire Enquiries</h1>

<div style="display: flex; justify-content: center; align-items: center; padding-top: 2em">
    <div style="display: table-cell; vertical-align: center">
        <div>
            <h4 style="text-align: left">Name <span style="color: red">*</span></h4>
            <form style="text-align: left">
                <label id="name">
                    <input type="text">
                </label>
            </form>
        </div>
        <div>
            <h4 style="text-align: left">Email <span style="color: red">*</span></h4>
            <form style="text-align: left">
                <label id="email">
                    <input type="text">
                </label>
            </form>
        </div>
    </div>
</div>
</body>
</html>